<h1><%= @player.name %></h1>

<%= cl_image_tag @player.image, :class => 'feature' if @player.image.present? %>
<ul class='list-group'>
    <li class='list-group-item'>Name: <%= @player.name %></li>
    <li>Nationality: <%= @player.nationality %></li>
    <% if @player.skillmove.present? %>
        <li>Skillmove: <%= @player.skillmove %></li>
</ul>
    <% end %>

<%# <% @player.works.each do |work| %>
<%# <%= link_to image_tag(work.image, :class => 'thumb'), work %>
<%# <% end %> 

<div class="panel panel-primary">
<%= button_to "Edit player", edit_player_path(@player), :method => 'get' %> 
<%= button_to "Delete player", player_path(@player), :method => :delete, :data => { :confirm => 'Are you sure?' } %>
</div>