<!DOCTYPE html>
<html>
  <head>
    <title>FIFA Street Skillers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= cloudinary_js_config %>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    
  </head>
  

  <body>
    <div class="container">
    <nav>    
      <%= link_to "FIFA", root_path %>
        <% if @current_user.present? %>
        <%# if @current_user.admin? %>
          <%# link_to "All Users", users_path %>
        <%# end %>
          <%= link_to "New Team", new_team_path %>
          <%= link_to "All Teams", teams_path %>
          <%= link_to "New Player", new_player_path %>
          <%= link_to "All Players", players_path %>
          <%= link_to "Log out #{ @current_user.email }", login_path, :method => :delete %>
        <% else %>
          <%= link_to "Sign up", new_user_path %>
          <%= link_to 'Sign in', login_path %>
        <% end %>
    </nav>
    <%= yield %>
    </div>
  </body>

  
</html>
