<!DOCTYPE html>
<html>
  <head>
    <title>FIFAss</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= cloudinary_js_config %>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    
  </head>
  

  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Street Skillerz</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <%= link_to "New Team", new_team_path %>
            </li>
            <li class="nav-item">
              <%= link_to "All Teams", teams_path %>
            </li>
             </li>
            <li class="nav-item">
              <%= link_to "New Player", new_player_path %>
            </li>
            <li class="nav-item">
              <%= link_to "All Players", players_path %>
            </li>
             <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/login">Log out</a></li>
              </ul>
            </li>
          </ul>
          
        </div>
      </div>
    </nav>

    <%= yield %>
    </div>
  </body>

  
</html>
